<!DOCTYPE html>

<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <!-- login / registrarse -->
    <div class="container p-3 my-3 bg-light text-black">
        <% if(user!==undefined){ %>
            <%- include('../partials/logout', {user:user}) %>
        <% } else { %>
            <%- include('../partials/login') %>
        <% } %>
    </div>

    <div class="container p-3 my-3 bg-light text-black">
        <% if(user!==undefined){ %>
            <%- include('../partials/chat',{user:user}) %>
        <% } else { %>
                BIENVENIDO AL TRABAJO PRACTICO FINAL, DEBE REGISTRARSE PARA COMENZAR A PROBAR
        <% } %>
    </div>

    <!-- Listado de los productos -->
    <div class="container p-3 my-3 bg-light text-black">
        <%- include('../partials/productos',{producto:productosList}) %> 
    </div>

    <!-- Carrito de compras -->
    <div class="container p-3 my-3 bg-light text-black">
        <%- include('../partials/carritos',{carrito:carritosList}) %> 
    </div>

    <!-- Carrito de compras -->
    <div class="container p-3 my-3 bg-light text-black">
        <%- include('../partials/pedidos',{pedido:pedidosList}) %> 
    </div>

     <!-- Listado de mensajes de chat -->
    <div class="container p-3 my-3 bg-light text-black">
         <%- include('../partials/chat',{user:user, mensajesChat:mensajesChatList}) %>
    </div>

    <!-- Informacion del servidor -->
    <div class="container p-3 my-3 bg-light text-black">
        <%- include('../partials/info',{info:info}) %> 
    </div>

</body>

</html>